@tailwind base;
@tailwind components;
@tailwind utilities;

.products_nav .active span{
    @apply text-[#0691b8]
}
.products_nav  .active i.absolute{
    @apply inline-block
}
.products_nav  i.absolute{
    @apply hidden
}
@media screen and (max-width: 768px) {
    .banner{
        height: 300px;

    }
    .top{
        @apply p-5
    }
    .product_detail{
        @apply p-5
    }
    .case_detail{
        @apply p-5
    }
    .contact_wrap .cc-oo{
        @apply block
    }
    .contact_wrap .cc-oo a{
        @apply w-full
    }
    .contact_wrap{
        @apply block;
    }
    .contact_wrap .contact_title{
        font-size: 30px;
    }
    .contact_wrap > div{
        @apply w-full
    }
    .cases{
        @apply p-2
    }
    .cases .items .tttitle{
        @apply overflow-hidden overflow-ellipsis  whitespace-nowrap
    }
    .cases .items .more{
        @apply block text-center p-0;
        line-height: 40px;

        height: 40px;
    }
    .cases .leading-none{
        @apply m-0
    }

    .cases .items{
        @apply  block
    }
    .cases .items h4{
        @apply w-full
    }
    .roPMCD{
        @apply p-0
    }
    .cases .items a{
        @apply w-full block p-2
    }

    .product_product{
        @apply p-5;
    }
    .product_product .input{
        @apply w-full p-2
    }
    .product_product .goods{
        @apply grid-cols-1
    }
    .jz_web_row{
        @apply grid-cols-1 gap-1;
        height: auto;
    }
    .products_home{
        @apply p-5;
    }
    .Latest_Blog_grid{
        @apply grid-cols-1 gap-1
    }
    .blog_items{
        @apply p-5
    }
    .go_our_form{
        @apply w-full
    }
    .footer{
        @apply p-5
    }
    .footer .grid{
        @apply grid-cols-1
    }

    .title_left p:nth-child(1) {
        font-size: 26px;
    }
    .go_our{
        @apply p-5;
    }
    .title_left p:nth-child(2) {
        margin: 10px 0;
    }
    .discount .items{
        padding: 20px 30px;
    }
    .featured{
        @apply p-5;
    }
    .featured_grid{
        @apply grid-cols-1;
    }
    .featured-center{
        @apply p-5;
    }
    .Latest_Blog{
        @apply p-5;
    }
    .featured_items{
        @apply p-5
    }
    .products_nav li{
        @apply p-1
    }
    .discount_grid{
        @apply grid-cols-1
    }
    .discount{
        @apply p-5;
    }
    .mySwiper swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 0;
    }
    .products_nav li span{
        font-size: 14px;
    }
    .jz_web_row__content{
        padding: 20px;
    }
    .section3{
        @apply p-5
    }
    .banner swiper-slide{
        @apply p-6
    }
    .banner swiper-slide p:nth-child(1) {
        @apply pt-14;
        font-size: 20px;
    }
    .banner swiper-slide p:nth-child(2) {
        @apply my-2;
        font-size: 25px;
    }
    .banner swiper-slide p:nth-child(3) {
        font-size: 20px;
    }
    .banner swiper-slide a {
        @apply mt-3 p-2;
    }
  .JSiOsa {
    @apply bg-none bg-[#f2f5f9] bg-cover bg-no-repeat bg-[center_center] m-0 p-0;
  }
  .DeXKbr {
    @apply m-0 col-span-1 w-full p-5;
  }
  .ahh{
      @apply grid grid-cols-1 gap-4;
  }
  .uFTvBO {
    @apply m-0;
  }
  .qAwAvo {
    @apply m-0 w-full p-5;
  }
  .VDNIJx {
    @apply m-0;
  }
  .PuJPNw {
    @apply m-0 w-full p-5;
  }
  .qttYcf {
    @apply m-0;
  }
  .YCRRwq {
    @apply m-0 w-full p-5;
  }
  .folmUs {
    @apply m-0;
  }
    .EKAHGZ {
        @apply w-full ml-0 mt-0;
    }
    .eUAyXu {
        @apply w-full ml-0 mt-0;
    }
    .QpwrSe {
        @apply w-full ml-0 mt-0;
    }
    .akFXmX {
        @apply w-full ml-0 mt-0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
    .jz_web_row__content{
        padding: 20px;
    }
    .blog_items{
        @apply p-5
    }
    .section3,.products_home,.discount,.featured,.people,.Latest_Blog,.footer{
        @apply p-10
    }
    .featured_grid{
        @apply grid-cols-2
    }
  .EKAHGZ {
    @apply w-full ml-0 mt-0;
  }
  .DIPrce {
    @apply w-9/12;
  }
  .eUAyXu {
    @apply w-full ml-0 mt-0;
  }
  .slmPvg {
    @apply w-9/12;
  }
  .QpwrSe {
    @apply w-full ml-0 mt-0;
  }
  .scuLlq {
    @apply w-9/12;
  }
  .akFXmX {
    @apply w-full ml-0 mt-0;
  }
  .gKFxaS {
    @apply w-9/12;
  }
}

@media screen and (max-width: 768px) {
  .mkmbjr {
    @apply m-0 p-0;
  }
  .zUgxuJ {
    @apply m-0;
  }
  .KzcAcL {
    @apply ml-[1.78082%] mr-[74.9315%] mt-[0.8vw] mb-[0.533333vw];
  }
  .RyfJRM {
    @apply h-[38px];
  }
  .lUbBib {
    @apply mt-[0.8vw] mb-[0.533333vw] mx-[3.733%];
  }
  .VNDNzP {
    @apply ml-[2.60274%] mr-[63.9726%] mt-[0.8vw] mb-[0.533333vw];
  }
  .ZcVJoc {
    @apply h-10;
  }
  .znQHMX {
    @apply m-0;
  }
  .ncQztw {
    @apply mt-[0.8vw] mb-[0.533333vw] mx-[3.733%];
  }
  .YWfRbs {
    @apply ml-[3.42466%] mr-[62.8767%] mt-[0.8vw] mb-[0.533333vw];
  }
  .Wiqadx {
    @apply h-[41px];
  }
  .fnhWlU {
    @apply m-0;
  }
  .jyxDaJ {
    @apply mt-[0.8vw] mb-[0.533333vw] mx-[3.733%];
  }
  .kwUXWm {
    @apply ml-[3.15068%] mr-[62.8767%] mt-[0.8vw] mb-[0.533333vw];
  }
  .BBDzIQ {
    @apply h-[41px];
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .KwebBM {
    @apply text-[15px];
  }
  .UuCrwt {
    @apply text-[15px];
  }
  .akIqJZ {
    @apply text-[15px];
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  .KwebBM {
    @apply text-base;
  }
  .UuCrwt {
    @apply text-base;

  }
  .akIqJZ {
    @apply text-base;
  }
}
@media (min-width: 2560px) and (max-width: 3839px) {
  .KwebBM {
    @apply text-[26px];
  }
  .UuCrwt {
    @apply text-[26px];
  }
  .akIqJZ {
    @apply text-[26px];
  }
}
@media (min-width: 3840px) {
  .KwebBM {
    @apply text-[40px];
  }
  .UuCrwt {
    @apply text-[40px];
  }
  .akIqJZ {
    @apply text-[40px];
  }
}
@media screen� {
  .CtDHlP {
    @apply bg-none;
  }
  .GnSByk {
    @apply bg-none;
  }
  .LwITZA {
    @apply bg-none;
  }
  .BBMQpj {
    @apply bg-none;
  }
  .PkLOyB {
    @apply bg-none;
  }
  .ASVbCU {
    @apply bg-none;
  }
  .MFSlMu {
    @apply bg-none;
  }
  .oPsYdM {
    @apply bg-none;
  }
  .heIhUC {
    @apply bg-none;
  }
  .IxCgYk {
    @apply bg-none;
  }
  .Yndjhx {
    @apply bg-none;
  }
  .KsdNmG {
    @apply bg-none;
  }
  .QAAzIo {
    @apply bg-none;
  }
  .ZFvJGt {
    @apply bg-none;
  }
  .yHrIps {
    @apply bg-none;
  }
  .MjbIRN {
    @apply bg-none;
  }
  .uYzdwu {
    @apply bg-none;
  }
}

@media screen and (min-width: 769px) {
  .ZslnHD {
    @apply w-[33.6688%];
  }
  .UmkIhk {
    @apply w-[38.7854%];
  }
  .bxOVHt {
    @apply w-[27.1483%];
  }
}

@media screen and (max-width: 768px) {
  .PbrJgG {
    @apply m-0 p-0;
  }
  .ywGXVt {
    @apply m-0;
  }
  .upoIYf {
    @apply mt-[2.66667vw] mb-[1.33333vw] mx-[3.733%];
  }
  .plCnaV {
    @apply m-0;
  }
  .YafCOp {
    @apply m-0;
  }
  .ddREId {
    @apply m-0;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .mWTMYb {
    @apply text-[15px];
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  .mWTMYb {
    @apply text-base;
  }
}
@media (min-width: 2560px) and (max-width: 3839px) {
  .mWTMYb {
    @apply text-[26px];
  }
}
@media (min-width: 3840px) {
  .mWTMYb {
    @apply text-[40px];
  }
}
@media screen� {
  .YzgfWu {
    @apply bg-none;
  }
  .hByaEc {
    @apply bg-none;
  }
}
@media screen and (min-width: 769px) {
  .gAyPFP {
    @apply w-full ml-0 mt-0;
  }
  .FaKhGw {
    @apply w-[93%];
  }
  .ivLhOZ {
    @apply w-full ml-0;
  }
  .cmchTu {
    @apply w-[93%];
  }
  .RpjkRn {
    @apply w-full ml-0;
  }
  .povdhj {
    @apply w-[93%];
  }
  .wiHTVr {
    @apply w-full ml-0;
  }
  .ulEYVn {
    @apply w-[93%];
  }
}
